.card button {
  display: inline-block;
  width: auto;
  margin-right: 5px;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Botón Mostrar */
.btnMostrar {
  background: #6a4c93; /* morado profundo */
}
.btnMostrar:hover {
  background: #4b2e69;
}

/* Botón Editar */
.btnEditar {
  background: #9d4edd; /* violeta brillante */
}
.btnEditar:hover {
  background: #7b2cbf;
}

/* Botón Eliminar */
.btnEliminar {
  background: #c9184a; /* fucsia/morado rojizo */
}
.btnEliminar:hover {
  background: #a4133c;
}

/* Botón Crear */
.btnCrear {
  background: #7b2cbf; /* violeta intenso */
}
.btnCrear:hover {
  background: #5a189a;
}
